
<!DOCTYPE html>
<html>
<head>
  <title>Login Truco</title>
</head>
<body>
  <h1>Ingresar al Truco Argentino</h1>
  <a href="/auth/google">
    <button>Ingresar con Google</button>
  </a>
</body>
</html>
